package models

import "testing"

func TestValidate{{.Model.NamePascalCase}}(t *testing.T) {
	type args struct {
		{{.Model.NameLowerCase}} *{{.Model.NamePascalCase}}Form
	}
	tests := []struct {
		name    string
		args    args
		wantErr bool
	}{
		// TODO: Add test cases.
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			if err := Validate{{.Model.NamePascalCase}}(tt.args.{{.Model.NameLowerCase}}); (err != nil) != tt.wantErr {
				t.Errorf("Validate{{.Model.NamePascalCase}}() error = %v, wantErr %v", err, tt.wantErr)
			}
		})
	}
}
